<?xml version="1.0"?>
<Configuration>
<Appenders>
        <!-- For level "Errors" -->
        <File name="WebAppErrors" fileName="/var/log/csye6225/errors.log">
            <JsonLayout properties="true" complete="true" compact="true">
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd HH:mm:ss.SSS Z}" />
            </JsonLayout>            
            <BurstFilter level="ERROR" rate="2" maxBurst="10"/>
        </File>
        <Async name="AsyncAppenderError" bufferSize="80">
            <AppenderRef ref="WebAppErrors"/>
        </Async>

        <!-- For level "INFO" -->
        <File name="WebAppInfo" fileName="/var/log/csye6225/info.log">
            <JsonLayout properties="true" complete="true" compact="true">
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd HH:mm:ss.SSS Z}" />
            </JsonLayout>            
            <BurstFilter level="ERROR" rate="2" maxBurst="10"/>
        </File>
        <Async name="AsyncAppenderInfo" bufferSize="80">
            <AppenderRef ref="WebAppInfo"/>
        </Async>
</Appenders>

<Loggers>
        <Logger name="WEBAPP_LOGGER_ERROR" level="ERROR"
          additivity="false">
            <AppenderRef ref="AsyncAppenderError" />
        </Logger>

        <Logger name="WEBAPP_LOGGER_INFO" level="INFO"
          additivity="false">
            <AppenderRef ref="AsyncAppenderInfo" />
        </Logger>
</Loggers>
</Configuration>
